In [202]:
import numpy as np
import pandas as pd

In [203]:
authors = pd.DataFrame({
    "author_id": [1, 2, 3],
    "author_name": ["Тургенев", "Чехов", "Островский"]
})

books = pd.DataFrame({
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий',
                   'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
})
print("Задание - 1")
print(f"DataFrame - authors: \n{authors}")
print(f"DataFrame - books: \n{books}")

Задание - 1
DataFrame - authors:
   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
DataFrame - books:
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [204]:
authors_prices = pd.merge(authors, books, on="author_id", how="inner")

print("Задание - 2")
print(f"DataFrame - authors_prices: \n{authors_prices}")

Задание - 2
DataFrame - authors_prices:
   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [205]:
top5 = authors_prices.nlargest(5, "price")

print("Задание - 3")
print(f"Пять самых дорогих книг: \n{top5}")

Задание - 3
Пять самых дорогих книг:
   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [206]:
authors_stat = authors_prices.groupby("author_name").price.agg(
    max_price = "max",
    min_price = "min",
    mean_price = "mean"
)

print(authors_stat)

             max_price  min_price  mean_price
author_name
Островский         370        290  330.000000
Тургенев           450        300  366.666667
Чехов              500        450  475.000000

In [207]:
authors_prices["cover"] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
# book_info = pd.pivot_table(authors_prices, index="author_name", values=["price", "cover"],
                           # columns=["твердая", "мягкая"], aggfunc=np.sum, fill_value=0)
book_info = authors_prices.pivot_table('price', index='author_name', columns='cover',
                                       aggfunc=np.sum, fill_value=0, margins=True,
                                       margins_name='Total')

book_info

cover        мягкая  твердая  Total
author_name
Островский      660        0    660
Тургенев        650      450   1100
Чехов             0      950    950
Total          1310     1400   2710

In [208]:
book_info.to_pickle("book_info.pkl")
book_info2 = pd.read_pickle("book_info.pkl")
book_info2

cover        мягкая  твердая  Total
author_name
Островский      660        0    660
Тургенев        650      450   1100
Чехов             0      950    950
Total          1310     1400   2710

In [209]:
print("Запись и тение прошли успешно, датафреймы идентичны.")

Запись и тение прошли успешно, датафреймы идентичны.