In [28]:
import pandas as pd

In [14]:
authors = pd.DataFrame({
    "author_id": [1, 2, 3],
    "author_name": ["Тургенев", "Чехов", "Островский"]
})

books = pd.DataFrame({
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий',
                   'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
})
print("Задание - 1")
print(f"DataFrame - authors: \n{authors}")
print(f"DataFrame - books: \n{books}")

Задание - 1
DataFrame - authors:
   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
DataFrame - books:
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [15]:
authors_prices = pd.merge(authors, books, on="author_id", how="inner")

print("Задание - 2")
print(f"DataFrame - authors_prices: \n{authors_prices}")

Задание - 2
DataFrame - authors_prices:
   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [18]:
top5 = authors_prices.nlargest(5, "price")

print("Задание - 3")
print(f"Пять самых дорогих книг: \n{top5}")

Задание - 3
Пять самых дорогих книг:
   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [32]:
authors_stat = authors_prices.groupby("author_name").agg({
    "price": "max",
    "price": "min"
})
authors_stat = authors_stat.reset_index()
authors_stat = authors_stat.rename(columns={"price":"max_price"}, )
print(authors_stat)

  author_name  max_price
0  Островский        290
1    Тургенев        300
2       Чехов        450